/* Developed by :
                Swaroop Kumar Sahu
                Production Engineering
                IIC
*/

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
    width: 100%;
    
}
th{
    padding: 15px;
    background-color: black;
    color: azure;
    
    
}

td{
    padding: 15px;
    background-color:black;
    color: azure;
}
p{
    font-family:sans-serif;
    margin: 20px 20px;
     white-space: nowrap;
}
#dp{
    position: absolute;
    right: 300px;
    top: 220px;
    border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
html{
     background: url(ali-yahya-9zFa3XvxFx4-unsplash.jpg)  no-repeat center fixed;
    background-size: cover;
   
}
#profile,#qualities,#add,#you{
     border-style: solid;
    border-color: black;
  padding: 50px;
  margin: 20px;
    outline-style: double;
    outline-color: darkgray;
    color: azure
}


#train{
    
    padding: 10px;
    margin: 10px;
    color:azure;}

h1{
    text-decoration: underline;
     text-shadow: 1.5px 1.5px gray;
}

#li{
     white-space: nowrap;
}

#fb{
    position: absolute;
    left: 800px;
}
#linkedin{
    position: absolute;
    left: 600px;
    
}


#hub{
    position: relative;
    left: 370px;
}

#last{
    text-align: left;
    
}
#table1,#table2{
    color: azure;
}
