/*     COLOURS
#ffdc27
    #202020 --- Normal dark
    #151514 --- darker
    #565656 --- lighter

    #ffa502 --- base
    #ce8500 --- darker
    #ffb735 --- lighter

Gold -- #ffdf00;
Neon -- #00ff43
Matt Red -- #d61a3c;
Blue -- #00a1ff;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    background-color: #151514;
}

/*
------------------------
    Loader
------------------------
*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid #ffb735;
    border-bottom: 16px solid #ffb735;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/*
------------------------
    Navigation
------------------------
*/

#logo{
    color: #ffb735;
    transition: all 0.3s;
}

#logo:hover{
    color: whitesmoke;
}

.navbar {
    background-color: #151514;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-toggler {
    margin-bottom: 0;
    margin-top: 5px;
}

.navbar_pos {
    margin-left: 59%;
    height: 10vh;
}

.navigation_links {
    padding-top: 20px;
    padding-bottom: 3px;
    margin-bottom: 2px;
    border-bottom: 2px solid #151414;
    transition: all 0.5s;
}

.navigation_links:hover {
    border-bottom-color: #ffb735;
    transform: translateY(-1px);
}

/*

------------------------
    CAROUSEL SLIDER
------------------------
*/
header {
    background-color: #151414;
}

.slide_container {
    width: 90%;
    margin: 0 auto;
}

.slide {
    height: 93vh;
    width: 100vw;
    background-color: #202020;
    margin-top: 1%;
}

/*     Slide 1       */
.container {
    display: flex;
}

.intro {
    width: 40%;
    color: #ffb735;
    margin-top: 13%;
    line-height: 1px;
    letter-spacing: 2px;
    font-weight: 300;
}

.img {
    height: 90%;
    width: 35%;
    float: right;
    margin-right: 8%;
    margin-top: -17%;
    padding-right: 10%;
}

.img1 {
    height: 90%;
}

.btn_icons {
    margin-top: 7%;
    margin-left: 4%;
}

.button1:link,
.button1:visited {
    background-color: #ffb735;
    border-color: #ffb735;
    font-weight: 400;
    border-radius: 0;
    width: 10%;
    margin-left: 5%;
    transition: all 0.5s;
}

.button1:hover,
.button1:active {
    color: #ffb735;
    background-color: #202020;
}

.button2:link,
.button2:visited {
    margin-left: 5%;
    color: #ffb735;
    border-color: #ffb735;
    border-radius: 0;
    width: 12%;
    transition: all 0.5s;
}

.button2:hover,
.button2:active {
    background-color: #ffb735;
    color: rgba(0, 0, 0, 0.89);
}


/*     Slide 2       */

.sliderContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)), url(img/img2.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.heading {
    width: 80%;
    margin-top: 16%;
    margin-left: 10%;
}

.main_head {
    color: #ffb735;
    letter-spacing: 2px;
    font-size: 270%;
    font-weight: 400;
}

.btn_icons2 {
    width: 170%;
    margin-top: 5%;
    padding-left: 30%;
}

.button3 {
    width: 80%;
    background-color: #ffb735;
    border-color: #ffb735;
}

.button3:hover,
.button3:active {
    background-color: rgba(0, 0, 0, 0.3);
}

/*
------------------------
        PROFILE
------------------------
*/

#profile {
    background: rgba(16, 16, 16, 0.8);
}

.profile_card {
    width: 70%;
    display: flex;
    padding-bottom: 5%;
}

.cards {
    width: 30%;
    background: #202020;
}

.cards .ds-top {
    width: 280px;
    height: 10px;
    background: #ffb735;
}

.cards .avatar-holder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffb735, inset 0 0 0 5px #ce8500, inset 0 0 0 5px #ce8500, inset 0 0 0 5px #ce8500, inset 0 0 0 5px #ce8500;
    background: #202020;
    overflow: hidden;
    margin: 50px auto;
}

.cards .avatar-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .name {
    margin: 10px;
    margin-top: -20px;
}

.cards .name a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 35px;
}

.cards .name a:hover {
    color: #ffb735;
}

.cards .button {
    margin: auto;
    border-bottom: 2px solid #ffb735;
    height: 40px;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    margin-top: 30%;
    text-align: center;
    outline: none;
}

.cards .button a {
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}

.cards .button a:hover {
    color: #ffb735;
}

.profile-skill {
    width: 30%;
    display: flex;
    margin-top: 10%;
}

.icon {
    margin-left: 35%;
    margin-bottom: 20%;
}

.ion {
    font-size: 130%;
    color: #ffb735;
    transition: all 0.5s;
}

.ion:hover {
    color: white;
}

.about-card {
    flex: 1;
    background-color: #202020;
    border-radius: 0;
    cursor: default;
}

.about-card-title {
    color: #ffb735;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    font-size: 130%;

}

.about-card-subtitle {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 3%;
    margin-top: 0;
    padding-bottom: 0;
}

.card-list {
    background-color: #202020;
    color: white;
    border-color: #202020;
    border-left-color: #ffb735;
    width: 90%;
    margin: 0 auto;
    cursor: default;
}

ul li:last-child {
    padding-bottom: 25px;
}


.highlight-text {
    color: #ffb735;
}

/*
------------------------
       EDUCATION
------------------------
*/

.row {
    width: 100%;
    margin-left: 0;
}

.edu-container {
    width: 75%;
    display: block;
    background-color: #151514;
}

.main-head {
    margin-top: 4%;
    margin-bottom: 2%;
}

.main-head h2 {
    color: aliceblue;
    font-weight: 200;
    cursor: default;
}

.main-head h2:after {
    display: block;
    background-color: #ffb735;
    height: 3px;
    content: "";
    width: 100px;
    margin: 20px auto;
    margin-top: 10px;
}

.edu-body {
    background-color: #202020;
    margin-bottom: 5%;
    overflow: hidden;
}


.line-1 {
    display: block;
    height: 70px;
    background-color: #ffb735;
    content: "";
    left: 0;
    width: 230px;
    margin-top: -30px;
    margin-left: -20%;
    margin-bottom: 5px;
    overflow: hidden;
    transform: rotate(-30deg);
}



.edu-heading {
    color: aliceblue;
    font-size: 130%;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 1px;
    cursor: default;
}



.edu-text {
    color: aliceblue;
    text-align: center;
    margin-top: 5%;
    padding: 3%;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 400;
    cursor: default;
}

.date {
    color: #ffb735;
    font-size: 100%;
    padding: 50px 10px;
}

/*

------------------------
       SKILLS
------------------------

*/

#skills {
    background: rgba(16, 16, 16, 0.8);
    height: 60vh;
}

#skills .main-head h2:after {
    width: 80px;
}

.skills-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 2%;
}

.skills-container .app-box {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.skills-container .app-box .icon {
    font-size: 50px;
    margin: 0 15% 0 0;
    transition: all 0.3s;
}

.skills-container .app-box .icon:hover {
    transform: translateY(-3px);
}


/*

------------------------
       PROJECTS
------------------------

*/

#projects .main-head {
    margin-bottom: 0;
}

.sub-head {
    margin-bottom: 2%;
}

.sub-head-text {
    color: rgba(246, 250, 253, 0.65);
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: default;
}


.project-card {
    margin-bottom: 3%;
    height: 200px;
}

.project-card-1,
.project-card-2,
.project-card-3,
.project-card-4,
.project-card-5,
.project-card-6 {
    background-size: cover;
    background-position: center;
}


.project-card-1 {
    background-image: linear-gradient(rgba(15, 10, 10, 0.69), rgba(15, 10, 10, 0.69)), url(img/Maze-bot.jpg);
}

.project-card-2 {
    background-image: linear-gradient(rgba(15, 10, 10, 0.69), rgba(15, 10, 10, 0.69)), url(img/Pico-sat.jpg);
}

.project-card-3 {
    background-image: linear-gradient(rgba(15, 10, 10, 0.69), rgba(15, 10, 10, 0.69)), url(img/Heal-assist.jpg);
}

.project-card-4 {
    background-image: linear-gradient(rgba(15, 10, 10, 0.69), rgba(15, 10, 10, 0.69)), url(./img/vslv.jpg);
}

.project-card-5 {
    background-image: linear-gradient(rgba(15, 10, 10, 0.69), rgba(15, 10, 10, 0.69)), url(./img/ToDo\ List.jpg);
}

.project-card-6 {
    background-image: linear-gradient(rgba(15, 10, 10, 0.69), rgba(15, 10, 10, 0.69)), url(./img/tbi.jpg);
}

.project-card-1:hover,
.project-card-2:hover,
.project-card-3:hover,
.project-card-4:hover,
.project-card-5:hover,
.project-card-6:hover {
    background-image: linear-gradient(#151514, #151514);
    border: 1px solid whitesmoke;
}

.project-content {
    opacity: 0;
    height: 100%;
    transition: 0.5s;
}

.project-content:hover {
    opacity: 1;
}

.project-heading {
    padding-top: 2%;
    text-align: center;
    cursor: default;
    color: aliceblue;
    transition: all 1s;
}

.project-content:hover .project-heading {
    transform: translateY(-5px);
}

.project-text {
    font-weight: 300;
    text-align: center;
    cursor: default;
    margin-top: 4%;
    color: aliceblue;
    transition-duration: 1s;
}

.project-card-1 .project-text {
    font-size: 18px;
}

.project-content:hover .project-text {
    transform: translateY(-10px);
}


/*

------------------------
    CONTACT ME
------------------------

*/

#contact-me {
    background: rgba(16, 16, 16, 0.8);
    padding-bottom: 3%;
}

.form-box {
    background-color: rgba(61, 59, 59, 0.082);
    width: 70%;
    border-top: 7px solid #ffb735;
    margin: 2% auto;
}

input {
    outline: none;
}

.form-box .form-group {
    width: 80%;
    margin: 5% auto;
}

.form-box .form-group:first-child {
    margin-top: 8%;
}

.form-box .form-group input:nth-child(1) {
    margin-right: 5%;
}

input[type=text],
input[type=email] {
    text-align: center;
}

input:focus {
    outline: none !important;
    box-shadow: none;
}

.btn:focus {
    outline: none;
}

input::placeholder {
    vertical-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    border-radius: .25rem;
}

.form-button {
    width: 20%;
    margin: 0 auto 4% 40%;
    border: 1px solid #ffb735;
    background-color: #ffb735;
    padding: 1% 0;
    border-radius: 0;
    transition: all 0.5s;
}

.form-button:hover {
    background-color: transparent;
    color: whitesmoke;
    border-color: whitesmoke;
}

.response {
    display: flex;
    width: 20%;
    float: right;
    margin-right: 15%;
}

.response .success,
.response .failure {
    margin-bottom: 0;
    margin-top: -10%;
    margin-left: 0;
    font-size: 50px;
    display: none;
}

/*
------------------------
    FOOTER
------------------------
*/


footer .container {
    display: block;
}

.link-text {
    display: block;
    padding-top: 5%;
    padding-bottom: 1%;
    color: whitesmoke;
    cursor: default;
}

footer .container .app-box {
    display: flex;
    width: 40%;
    margin-right: 0;
}

footer .container .app-box .icon {
    font-size: 35px;
    margin: 0%;
    margin-right: 10%;
}

footer .container .app-box .icon .ion {
    color: whitesmoke;
    transition: all 0.3s;
}

footer .container .app-box .icon .ion:hover {
    color: #ffb735;
    transform: translateY(-2px);
}

.footer-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer-text p {
    text-align: center;
    color: rgba(245, 245, 245, 0.5);
    font-family: sans-serif;
    margin-bottom: 0;
    padding: 7% 1% 4% 1%;
    cursor: default;
}